.entry-content > *,
.single-content > *,
.page-content > * {

	margin: 32px 0;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	&.alignleft {
		float: left;
		max-width: 45%;
		margin-top: 0;
		margin-left: 0;
		margin-right: 1rem;

		@media screen and (min-width: 768px) {
			margin-right: 2rem;
		}
	}

	&.alignright {
		float: right;
		max-width: 45%;
		margin-top: 0;
		margin-right: 0;
		margin-left: 1rem;

		@media screen and (min-width: 768px) {
      max-width: calc(4 * (100vw / 12));
			margin-right: 0;
			margin-left: 2rem;
    }
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;

		@media screen and (min-width: 768px) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&.alignwide {

		clear: both;

		@media screen and (min-width: 860px) {
			margin-left: -28px;
			margin-right: -28px;
			max-width: calc( 100% + 56px );
			width: auto;
		}
	}

	&.alignfull {
		margin-left: calc( -100vw / 2 + 100% / 2 );
		margin-right: calc( -100vw / 2 + 100% / 2 );
		max-width: none;
		width: auto;

		@media screen and (min-width: 768px) {
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	}

}

.entry-content,
.single-content,
.page-content {

	// Drop-cap
	.has-drop-cap {
		&:not(:focus):first-letter {
			font-size: 4em;
			line-height: 1;
			font-weight: bold;
			margin: 0 0.25em 0 0;
		}
	}

	// Captions
	.wp-block-audio figcaption,
	.wp-block-video figcaption,
	.wp-block-image figcaption,
	.wp-block-gallery .blocks-gallery-image figcaption,
	.wp-block-gallery .blocks-gallery-item figcaption {
		margin: 0;
		text-align: center;
	}

	// Dropdown
	select {

		color: inherit;

	}

}