////
/// Global site styles.
////

#wrap {
  position: relative;
  word-wrap: break-word;
}

#header {
  position: relative;
  width: 100%;
}

#main {
  position: relative;
}

#content-wrap {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media screen and (min-width: 64em) { 
    margin-top: 50px;
	  margin-bottom: 50px;
  }
}

.has-sidebar {

  .content-area {
    padding-right: 30px;
    @media screen and (max-width: 39.9375em) {
      padding-right: 0;
    }
  }

  .sidebar-area {
    padding-left: 30px;
  }
  &.left-sidebar {
    .content-area {
      padding-right: 0;
      padding-left: 30px;
      @media screen and (max-width: 39.9375em) {
        padding: 0;
      }
    }
    .sidebar-area {
      padding-left: 0;
      padding-right: 30px;
    }
  }
  
}