.has-classic-vertical-bar {

  .frontpage-classic-vertical-bar {
    width: 250px;

    &:not(.sticky-container), .frontpage-classic-vertical-bar-inner.sticky {
      background-color: $white;
    }

    &.right-bar {
      order: 3;
    }
  }

  .frontpage-classic-vertical-bar-inner {
    min-height: 100%;
    min-height: 100vh;
  }

  // Border
  .frontpage-classic-vertical-bar:not(.right-bar):not(.sticky-container),
  .frontpage-classic-vertical-bar:not(.right-bar) .frontpage-classic-vertical-bar-inner.sticky {
    border-right: 1px solid $global-border-color;
  }
  .frontpage-classic-vertical-bar.right-bar:not(.sticky-container),
  .frontpage-classic-vertical-bar.right-bar .frontpage-classic-vertical-bar-inner.sticky {
    border-left: 1px solid $global-border-color;
  }

  // Footer
  .frontpage-classic-vertical-bar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  &.admin-bar {
    .frontpage-classic-vertical-bar-footer {
      bottom: 32px;
    }
  }
  &.has-top-bar, &.has-frontpage-top-bar {
    .frontpage-classic-vertical-bar-footer {
      padding-bottom: 2em;
    }
  }

  // Components
  .frontpage-classic-vertical-bar-text, .frontpage-classic-vertical-bar-footer-text {
    p {
      margin: 0;
    }
  }

}

